body, ul,li,h1,h2,a{
    margin: 0;
    padding: 0;
    font-family: tahoma;
  
}

p{
    font-size: 15px;
    color: rgb(33, 33, 137);
}
header{
    background-color: rgb(210, 229, 148);
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
header h1{
    color: white;
    border: 5px solid white;
    display: inline-block;
    padding:5px 12px;
    border-radius:10px;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 20%;
   
  
}
.banner .welcome{
    background: rgb(198, 162, 45);
    color: white;
    padding: 20px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 30%;

}
.banner .welcome span{
    font-size: 1.2em;
}
nav{
    background-color: rgb(229, 234, 239);
    padding: 20px;
    position: sticky;
    top: 100px;
    z-index: 1;
}

nav ul{
    background-color: rgb(229, 243, 230);
    color: rgb(29, 17, 17);
    width: 10%;
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

nav li{
    width: 25%;
    display: inline-block;
    font-size: 20px;
}
nav li a:hover{
    text-decoration: underline;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li a.join{
    color: #fe0e0e;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 30px;
    box-sizing: border-box;
}
main p{
    text-align: auto;
}
